<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./Tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <coverage/>
    <php>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <!-- <server name="SYMFONY" value="/path/to/symfony" /> -->
    </php>
    <testsuites>
        <testsuite name="RjEmailBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
